@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --for-dark-color: #007FFF;
  --lite-dark-color: #11151A;
  --lite-blue-color: #2F81F7;
  --lite-bluissh-body-background-color: #E6E6FA;
  --yellow-color: #f5ba13;
  --darkish-blue-backgound: #0F152B;
  --blue-color-for-button: #3C46FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'MuseoModerno', sans-serif;
    background-color: #323334;
    overflow-x: hidden;
}